<div class="container">
  <form name="productform">
    <div class="form-group">
      <label>Product Id</label>
      <input type="text" name="ProductId" class="form-control">
    </div>

    <div class="form-group">
      <label>Product Name</label>
      <input type="text" name="ProductName" class="form-control">
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="text" name="Price" class="form-control">
    </div>

    <div class="form-group">
      <label>Category</label>
      <input type="text" name="Category" class="form-control">
    </div>

    <div class="form-group">
      <input type="button" class="button" value="new">
      <input type="button" value="save">
    </div>
  </form>
</div>
